/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Special+Elite&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Galada&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: bisque;
  scroll-behavior: smooth;
}

.special-font {
  font-family: "Martian Mono", monospace;
  font-family: "Raleway", sans-serif;
  font-family: "Special Elite", cursive;
}

.heading-2 {
  font-family: "Galada", cursive;
  font-family: "Martian Mono", monospace;
  font-family: "Raleway", sans-serif;
}

.regular-font {
  font-family: "Amita", cursive;
  font-family: "Martian Mono", monospace;
  font-family: "Raleway", sans-serif;
}

.hero-section {
  --hero-height: 600px;
  background-image: url("/images/hero-bg-2.jpg");
  height: var(--hero-height);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  position: relative;

  & .outer-container {
    width: 100%;
    height: var(--hero-height);
    position: absolute;
    /* border: 1px solid yellow; */
    filter: contrast(80%);
    background-color: rgba(32, 32, 31, 0.37);
  }

  & h1 {
    filter: drop-shadow(0 6px 4px rgb(97, 185, 24));
    font-size: 5rem;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding-top: 16%;
    position: relative;
    z-index: 100;
  }
  & span {
    font-size: 3rem;
  }
}

.menu-container {
  background-image: url("/images/contact.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  width: fit-content;
  margin: auto;
  column-gap: 2rem;
  row-gap: 4rem;
  padding: 2rem;
  color: black;
  position: relative;
  top: -160px;
}
.card {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background-color: rgba(243, 235, 235, 0.979);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 8px 5px 1px rgba(43, 42, 41, 0.603);
  & img {
    width: inherit;
    height: 300px;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10%;
  }

  & h1 {
    font-family: "Martian Mono", monospace;
    font-family: "Raleway", sans-serif;
    font-family: "Special Elite", cursive;
  }
  & h1 + p {
    font-style: italic;
    font-weight: 600;
    line-height: 25px;
  }
  & :not(h1 + p) {
    font-size: 30px;
    font-weight: 700;
  }
  & p > sup {
    font-size: 20px;
  }
}

footer {
  text-align: center;
  height: 100px;
  background-color: rgba(255, 166, 0, 0.568);
  padding-top: 2%;
  font-size: 20px;
  font-weight: 600;
}

/* scroll bar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #fff8c9;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
*::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: #fff8c9;
}

*::-webkit-scrollbar-track:hover {
  background-color: #e0d868;
}

*::-webkit-scrollbar-track:active {
  background-color: #b87439;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}
